@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Karla:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    font-size: 10px;
    font-family: 'Karla', sans-serif;
}
#root{
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:slateblue
}
.tenzies-wrapper{
    background-color: #0B2434;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 72rem;
    height: 76rem;
}
.game-wrapper{
    background-color: #F5F5F5;
    border-radius: 10px;
    width: 64rem;
    height: 64rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.dice-wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:50rem;
    height:18rem;
    gap: 3rem;
}
.dice{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:7.5rem;
    height:7.5rem;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 3.8px;
    font-weight: 700;
    font-size: 4rem;
    cursor: pointer;
}
.rollBtn{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    width: 20rem;
    height: 7rem;
    color:white;
    background-color: #5035ff;
    border:none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.isHeld{
    background-color: #59E391;
}